<main class="main">
  <header>
    <title>
      <h1>Short Link Creator</h1>
    </title>
  </header>
  <section></section>
  <section>
  </section>
  <footer>
    <div>&copy; 2024 slk.taurs.dev - tool to short a long link</div>
    <div>
      <ul>
        <li><a>Short Link</a></li>
        <li><a>Short Link Click Counter</a></li>
        <li><a>Unshort Link</a></li>
        <li><a>Report Malicious Link</a></li>
        <li><a>Terms Of Service</a></li>
        <li><a>Privacy Policy</a></li>
        <li><a>Contact</a></li>
      </ul>
    </div>
  </footer>
</main>


<router-outlet></router-outlet>
